.menu-footer {
  padding: 24px 24px 0 24px;
  font-size: 14px;
  text-transform: none;
  opacity: 0.4;
  text-align: center;
  max-width: 440px;
  @media (max-width: 768px) {
    max-width: 360px;
  }
}
