.mobile-toggle {
  display: none;

  @media (max-width: 768px) {
    display: block;
    position: absolute;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: transparent;
    background-color: rgba(245, 244, 241, 1);
    box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 160;

    &.is-open {
      background-color: rgba(22, 24, 23, 1);
      box-shadow: none;
    }
  }
}
